{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<p style="font-size: 10px">psst... the user is guest and the pass is 123</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" id="submit">Login</button>
</form>
<a href="/" class="btn btn-outline-info">Back</a>
{% endblock %}