{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	  <h1>Welcome Back {{ user.username }}!!</h1><br>
	  <img style="width: 80%" src="{% static 'img/cing.jpg' %}"></img><br><br>
	  <a href="{% url 'logout' %}" class="btn btn-outline-danger" id="logout">Logout</a>
	  <!-- <p><a href="{% url 'logout' %}">logout</a></p> -->
	{% else %}
	  <h1>You're <span style="color:red;">NOT</span> logged in!</h1><br>
	  <img style="width: 20%" src="{% static 'img/jong.jpg' %}"></img><br><br>
	  <a href="{% url 'login' %}" class="btn btn-outline-info" id="login">Login</a>
	  <a href="accounts/signup/" class="btn btn-outline-info">Signup</a>
	{% endif %}
{% endblock %}